/* Search.css */
.search-wrapper {
    margin: 0 auto 2rem; /* Add margin below the search bar */
    width: 100%;
    max-width: 600px;
  }
  
  #pokemon-name-search {
    margin-top: 2rem;
    width: 100%;
    padding: 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: #444; /* Dark background for the input */
    color: #f0f0f0; /* Light text color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
  }
  
  #pokemon-name-search:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5); /* Add a glow on focus */
  }  